/* src/components/Navbar.css */

.navbar {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.logo h1{
  font-size: 2rem
}

.btn button{
  display: flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(135deg, #d946ef 0%, #a855f7 50%, #8b5cf6 100%);
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 5px rgba(109, 40, 217, 0);
}

.btn:hover {
  background-position: right center;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(139, 92, 246, 0.7);
}